.form-container .signup-form {
    animation: fadeIn 1s ;
}
.form-container {
    animation: fadeIn 0.1s ;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    35% {opacity: 0;}
    50%  {opacity: 0.3;}
    70% {opacity: 0.5;}
    100% {opacity: 1;}
}