body {
    font-family:  Montserrat-Regular, sans-serif;
    height: max-content;
    margin: 0;
    padding: 0;
    background-image: url(../image/6586757_3357683.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #222;
    color: #fff;
    opacity: 80%;
  }

  .navbar:hover {
    opacity: 100%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
    padding-right: 50px;
  }
  
  .nav-links li {
    position: relative;
  }

  .nav-links a,
  button {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .nav-links .dropdown-menu {
    display: none;
    position: absolute;
    background: #444;
    padding: 10px;
    list-style: none;
    overflow: hidden;
    z-index: 1;
  }
  
  .nav-links .dropdown:hover .dropdown-menu {
    display: block;
    
  }

  .dropdown-menu :hover {
    color: #74ebd5;
  }

  .logo img {
    height: 40px;
  }

  .nav-links button {
    padding: 0px;
    background: none;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: all .5s ease-in-out;
  }

  .nav-links button:hover {
    background: none;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: max-content;
    margin: 50px auto;
    background: #fff;
    opacity: 100%;
    padding: 20px;
    border-radius: 20px;
    opacity: 90%;
    box-shadow: #4e5151 inset 0px 0px 5px;
  }

  .form-container:hover {
    opacity: 100%;
  }

  .form-container h1 {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
  }

  .form-container p {
    font-weight: 500;
  }


  .signup-form, .login-form, .change-password-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    /* align-content: center; */
    text-align: center;
    padding-left: 10%;
    
  }

  .signup-form input, .login-form input, .change-password-form input {
    /* width: 100%;
    height: 30px;
    border-radius: 5px;
    border:0px solid hsl(197, 7%, 51%);
    box-shadow: #4e5151 inset 0px 0px 2px; */
    width: 100%;
    padding: 12px 15px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .radios {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .radios button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: black 0px 0px 5px;
    transition: all .9s ease-in-out;
  }

  .radios button:hover {
    box-shadow: none;
  }
  
  .radios button span {
    margin-left: 8px; /* Adds space between the icon and text */
  }
  
  .radios button:hover {
    background-color: #ddd; /* Optional: adds hover effect */
  }
  

  .signup-form input:hover, .login-form input:hover, .change-password-form input:hover {
    box-shadow: #222 3px 3px 8px;
  }

  .signup-form input:active, .login-form input:active, .change-password-form input:active {
    box-shadow: #222 2px 2px 10px;
    /* border: 0px solid hsl(197, 7%, 51%); */
    border: none;
  }

  .signup-form input::placeholder, .login-form input::placeholder, .change-password-form input::placeholder {
    padding-left: 5px;
  }

  .signup-form button, .login-form button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    width: 40%;
  }

  button {
    padding: 10px;
    background: #74ebd5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    transition: all .5s ease-in-out;
  }
  
  button:hover {
    background: #acb6e5;
  }

  .login-btn {
    margin-top: 20px;
  }
  
  .Already-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  }

  .Already-login h5,   .Already-login p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    cursor: pointer;
    color: #333; 
  }

  .forgot-btn {
    margin-bottom: 0px;
    cursor: pointer;
  }

  .footer {
    background-color: #282c34;
    color: #fff;
    padding: 0px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    margin-top: 10px;
    padding-bottom: 20px;
  }
  
  .footer-links a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width:769px) {
    .nav-links li {
      font-size: 16px ;
    } 

    .nav-links {
      padding-right: 0px;
    }

    .nav-links .dropdown-menu {
      padding: 8px;
      font-size: 12px;
    }

    .logo img {
      height: 30px;
    }
  
    .form-container {
      
      width: 70%;
      margin: 20px auto;
      padding: 0px;
      border-radius: 30px;
    }
    
  .form-container h2 {
    padding: 0;
    font-size: 28px;
    padding: 15px 0;
    margin: 0;
  }

  .form-container p {
    font-weight: 300;
    font-size: 16px;
  }

  .signup-form input, .login-form input, .change-password-form input {
    padding: 10px;
    border-radius: 5px;
  }

  .radios button .icons {
    width: 100%;
  }

  .radios button {
    width: 40%;
    font-size: 10px;
    padding: 10px 15px;
  }

   .footer-content {
    font-size: 14px;
   }

   .footer-content p {
    padding-top: 0px;
   }
   .footer-links {
    padding-bottom: 10px ;
   }
  }


  @media screen and (max-width:426px) {
    .nav-links li {
      font-size: 14px ;
    } 

    .nav-links {
      padding-right: 0px;
    }

    .nav-links .dropdown-menu {
      padding: 5px;
      font-size: 12px;
    }

    .logo img {
      height: 25px;
    }
  
    .form-container {
      
      width: 70%;
      margin: 20px auto;
      padding: 10px;
      border-radius: 30px;
    }
    
  .form-container h2 {
    padding: 0;
    padding: 10px 0;
    margin: 0;
  }

  .form-container p {
    font-weight: 300;
    font-size: 14px;
  }

  .signup-form input, .login-form input, .change-password-form input {
    padding: 5px;
    border-radius: 5px;
  }

  .radios button .icons {
    width: 100%;
  }

  .radios button {
    width: 40%;
    font-size: 10px;
    padding: 10px 15px;
  }

   .footer-content {
    font-size: 14px;
   }

   .footer-content p {
    padding-top: 0px;
   }
   .footer-links {
    padding-bottom: 10px ;
   }
  }

  
  @media screen and (max-width:390px) {
    .nav-links li {
      font-size: 12px ;
    } 

    .nav-links {
      padding-right: 0px;
    }

    .nav-links .dropdown-menu {
      padding: 3px;
      font-size: 8px;

    }

    .logo img {
      height: 20px;
    }
  
    .form-container {
      
      width: 70%;
      margin: 20px auto;
      padding: 10px;
      border-radius: 30px;
    }
    
  .form-container h2 {
    font-size: 16px;
  }

  .form-container p {
    font-weight: 300;
    font-size: 12px;
  }
  
  .radios button .icons {
    width: 100%;
  }

  .radios button {
    width: 30%;
    font-size: 8px;
    padding: 10px 15px;
  }
   .footer-content {
    font-size: 12px;
   }

   .footer-content p {
    padding-top: 0px;
   }
   .footer-links {
    padding-bottom: 8px ;
   }
  }
    
  @media screen and (max-width:345px) {
    .nav-links li {
      font-size: 10px ;
    } 

    .logo img {
      height: 20px;
    }
  
    .form-container {
      border-radius: 40px;
    }

  .form-container p {
    font-weight: 300;
    font-size: 10px;
  }

  .radios button .icons {
    width: 100%;
  }

  .radios button {
    width: 30%;
    font-size: 8px;
    padding: 10px 15px;
  }

   .footer-content {
    font-size: 10px;
   }

   .footer-links {
    padding-bottom: 10px ;
   }
  }

  @media screen and (max-width:345px) {
    .nav-links li {
      font-size: 8px ;
    } 

    .logo img {
      height: 15px;
    }
  
    .form-container {
      border-radius: 40px;
    }

  .form-container p {
    font-weight: 300;
    font-size: 8px;
  }

  .signup-form input, .login-form input, .change-password-form input {
    padding: 2px;
    border-radius: 5px;
  }

  .radios button .icons {
    width: 100%;
  }

  .radios button {
    width: 30%;
    font-size: 6px;
    padding: 10px 15px;
  }

   .footer-content {
    font-size: 8px;
   }

   .footer-links {
    padding-bottom: 10px ;
   }
  }